/* RESET CSS */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

ul,ol,menu {
    list-style: none;
}

header {
    background-color: white;
    padding-left: 20px;
}

/* LOGO */
#logo {
    width: 150px;
}

body {
    background-color: #e1e4e6;
}

.container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

