/* RESET CSS */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

ul,ol,menu {
    list-style: none;
}

/* NAVBAR */
header {
    background-color: white;
    padding-left: 20px;
}

/* LOGO */
#logo {
    width: 150px;
}

body {
    background-color: #e1e4e6;
}

/* MAINCARD */
.container-card {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 24px;
    border-radius: 5px;
}

.content {
    padding: 100px 0;
}

/* BUTTON */
.button {
    border-radius: 3px;
    width: auto;
    margin-bottom: 25px;
    font-size: 15px;
}

.Task-button {
    background-color: rgb(44, 159, 236);
    border-color: rgb(44, 159, 236);
    border-radius: 4px;
    padding: 2px;
    padding-inline: 7px;
}

.Section-button {
    background-color: white;
    border-color: rgb(176, 176, 176);
    border-radius: 4px;
    padding: 2px;
    padding-inline: 7px;
}

/* LINE */
.line {
    border-color:#e1e4e6;
    height: 2px;
}

/* LIST */
.l-title {
    margin-top: 15px;
}

.playlist-item {
    margin: 10px
}

/* PARAGRAPH */
.playlist-item p {
    display: inline;
    vertical-align: text-bottom;
    font-size: large;
}

.playlist-item span {
    border-radius: 20px;
    display: inline-block;
    font-size: 10px;
    margin-right: 15px;
    padding: 5px;
    padding-inline: 10px;
    width: auto;
}

/* COLOR-TAGS */
.Editorial-tag {
    background-color: rgb(44, 159, 236);
    color: white;
}

.Q1-Goals {
    background-color: plum;
    color: white;
}

.Recruiting-tag {
    background-color: aquamarine;
    color: white;
}

.Mobile-tag {
    background-color: orange;
    color: white;
}

.Website-tag {
     background-color: rgb(255, 89, 144);
     color: white;
}

.Sales-tag { 
    background-color: rgb(137, 254, 58);
    color: white;
}

.checkmark {
    border: 1px solid;
    border-color: aquamarine;
    color: aquamarine;
    border-radius: 100%;
}

.cross {
    border: 1px solid;
    border-color: red;
    color: red;
    border-radius: 100%;
}
